<div class="panel panel-default">
  <h2 class="panel-heading">Rentals list</h2>
  <table class="table table-hover table-bordered panel-body">
    <thead >
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Kilometers </th>
        <th>Duration</th>
        <th>Speed</th>
        <th>Updated_at</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.name %></td>
          <td><%= rental.number %></td>
          <td><%= rental.mileage %></td>
          <td><%= rental.duration %></td>
          <td><%= rental.speed %></td>
          <td><%= rental.updated_at.strftime("%Y-%m-%d : %H:%M:%S") %></td>
          <td>
            <span class="showIcon">
              <%= link_to rental, title: 'View', rel: 'tooltip' do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
              <% end %>
            </span>

            <span class="editIcon">
              <%= link_to edit_rental_path(rental), title: 'Edit', rel: 'tooltip' do %>
                  <i class="glyphicon glyphicon-edit"></i>
              <% end %>
            </span>

            <span class="deleteIcon">
              <%= link_to rental, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', rel: 'tooltip' do %>
                  <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </span>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
