<!DOCTYPE html>
<html>
<head>
  <title>Rental Koolicar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <header class="col-md-12">
    <%# image_tag("logo_koolicar.jpg", class: "col-md-3", :alt => "rss feed", :width => "25%") %>
    <h1>Rental manager</h1>
    <hr>
  </header>

  <nav class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/home"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Home</a></li>
      <li><a href="/rentals/new"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;New rental</a></li>
      <li><a href="/rentals"><i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;Rentals list</a></li>
    </ul>
  </nav>

  <section class="col-md-10">
    <%= yield %>
  </section>

  <footer class="col-md-12 well well-sm">
    <span class="col-md-4 text-left">Thibault Martin</span>
    <span class="col-md-4 text-center">Test technique - Koolicar</span>
    <span class="col-md-4 text-right">10/08/2017</span>
  </footer>

</body>
</html>
